#img_bois_quantite{
    position: absolute;
    margin-top: 75px;
}

#quantite_article{
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;

    font-size: 30px;
    color: gold;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    font-weight: 900;
}

#champ_quantite{
    position: absolute;
    margin-top: 73px;
    margin-left: 192px;
    width: 75px; /* Définissez la largeur souhaitée */
    height: 37px; /* Définissez la hauteur souhaitée */


    font-family: "Kristen ITC", sans-serif;
    text-align: center;
    font-size: 30px;
    color: gold;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    font-weight: 900;
    background: none; /* Enlève le fond */
    border: none;

    caret-color: black;
}