#button_annuler, #button_confirmer{
    font-family: "Kristen ITC", sans-serif;
    text-align: center;
    font-size: 30px;
    color: gold;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    font-weight: 900;

    margin-top: 17px;

    width: 170px; /* Définissez la largeur souhaitée */
    height: 40px; /* Définissez la hauteur souhaitée */
    background-size: 170px 40px; /* Ajustez la taille de l'image de fond */

    cursor: pointer;

    background-color: transparent;
    border: none;
}

#button_annuler{
    margin-left: 50px;
    background-image: url("../../../../image/image_design/Bois_Del.png");
}

#button_confirmer{
    margin-left: 10px;
    background-image: url("../../../../image/image_design/Bois_Add.png");
}

#button_confirmer:hover, #button_annuler:hover{
    background-image: url("../../../../image/image_design/Bois_grise.png");
    color: white;
}